alabaster==0.7.13
asgiref==3.8.1
asttokens==2.4.1
babel==2.16.0
backcall==0.2.0
bcrypt==4.2.0
bootstrap-py==1.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
dj-database-url==2.3.0
Django==4.2.16
docutils==0.20.1
executing==2.1.0
filelock==3.16.1
fonttools==4.54.1
gitdb==4.0.11
GitPython==3.1.43
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipython==8.12.3
jedi==0.19.1
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mysql-connector-python==9.0.0
mysqlclient==2.2.4
numpy==1.24.4
packaging==24.1
pandas==2.0.3
parso==0.8.4
pguard==0.4.0
pickleshare==0.7.5
pillow==10.4.0
platformdirs==4.3.6
prompt_toolkit==3.0.47
psycopg2-binary==2.9.10
pure_eval==0.2.3
Pygments==2.18.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
smmap==5.0.1
snowballstemmer==2.2.0
Sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==2.0.35
sqlparse==0.5.1
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
virtualenv==20.26.5
virtualenvwrapper-win==1.2.7
wcwidth==0.2.13
whitenoise==6.7.0
zipp==3.20.2
