{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/recipes.css' %}">
  <title>{{object.name}}</title>
</head>

<body>
  {% if messages %}
  {% for message in messages %}
  <div style="text-align: center;" class="recipe_time" id="message">
    {{message}}
    <button onclick="dismiss()">
      dismiss
    </button>
  </div>
  {% endfor %}
  {% endif %}
  <h1>{{object.name.lower}}
    <br>
    <button id="update-button" onclick="updateDialog()">update</button>
    <button id="delete-button" onclick="deleteDialog()">delete</button>
  </h1>
  <div class="navigation">
    <button onclick="showMenu()" class="navigation">
      <img src="{% static 'recipes/images/recipe.jpg' %}" width="26px" />
    </button>
    <div id="nav" class="hide">
      <ul>
        <a href="{% url 'recipes:list' %}">
          <li>home</li>
        </a>
        <a href="{% url 'recipes:search' %}">
          <li>search</li>
        </a>
        <a href="{% url 'recipes:add' %}">
          <li>add recipe</li>
        </a>
        <a href="{% url 'recipes:about' %}">
          <li>about</li>
        </a>
        <a href="{% url 'logout' %}">
          <li>logout</li>
        </a>
      </ul>
    </div>
  </div>
  <div class="recipe_detail" onclick="closeDialog()">
    <span id="recipe_card">
      <br>
      <a class="goBack" title="Go back" href="{% url 'recipes:list' %}">
        &laquo;
      </a>
      <span class="recipe_info">
        <table class="recipe_info" style="background: none; text-align: left; margin-left: auto; margin-right: auto;"
          cellpadding="5" cellspacing="5">
          <tr>
            <th style="font-style: italic;">
              &nbsp;cooking time
            </th>
            <td>
              {{object.cooking_time}} minutes
            </td>
          </tr>
          <tr>
            <th style="font-style: italic; border-top: dotted 1px black;">
              &nbsp;difficulty lvl
            </th>
            <td>
              {{object.calculate_difficulty}}
            </td>
          </tr>
          <tr>
            <th style="font-style: italic; border-top: dotted 1px black;">
              &nbsp;Ingredients
              {% for len(ing) in object.return_ingredients_as_list %}
              <br>
              {% endfor %}
            </th>
            <td>
              {% for ing in object.return_ingredients_as_list %}
              {{ing}}
              <br>
              {% endfor %}
            </td>
          </tr>
        </table>
      </span>
      <br>
      <div class="image_mask">
        <img src="{{object.pic.url}}" class="helper" />
      </div>
    </span>
  </div>
  <div class="update_detail">
    <span id="update_card" class="hide">
      <span class="recipe_info">
        <form action="{% url 'recipes:update' object.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <table class="recipe_info" style="background: none; text-align: left; margin-left: auto; margin-right: auto;"
            cellpadding="5" cellspacing="5">
            <tr>
              <th style="font-style: italic; border-top: dotted 1px black;">
                &nbsp;Recipe Name
              </th>
              <td>
                {{form.name}}
              </td>
            </tr>
            <tr>
              <th style="font-style: italic;">
                &nbsp;cooking time
              </th>
              <td>
                {{form.cooking_time}}
              </td>
            </tr>
            <tr>
              <th style="font-style: italic; border-top: dotted 1px black;">
                &nbsp;Ingredients
              </th>
              <td>
                {{form.ingredients}}
              </td>
            </tr>
          </table>
          <span>
            {{form.pic}}
            <br><br>
            <button type="submit">
              UPDATE RECIPE
            </button>
            <button type="button" onclick="closeUpdate()">
              close
            </button>
          </span>
        </form>
      </span>
    </span>
  </div>
  <div class="delete_detail">
    <span id="delete_card" class="hide">
      <span class="recipe_info">
        <form action="{% url 'recipes:delete' object.id %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          Delete {{object.name}} from your recipes?
          <br><br>
          <button type="submit" class="danger">
            Yes
          </button>
          <button type="button" onclick="closeDelete()">
            No
          </button>
        </form>
      </span>
    </span>
  </div>
  <div class="footer">
    <span class="text">This App was created by Rebekah Willis. 
      <a
        href="https://github.com/rbkh17willis">
        My Github Here</a>
    </span>
  </div>
</body>
<script src="{% static 'recipes/js/navigation.js' %}"></script>

</html>